<% include  partials/header.ejs %>

<header>
  <div class="jumbotron bg-img">
    <div class="container">
      <h1>Welcome to <img class="img-responsive logo" src="/assets/fork_logo.png">RecipesDB!</h1>
      <p>View our hand-picked delicious recipes!</p>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <% recipes.forEach(recipe => { %>
    <div class="col-lg-4 col-md-6 col-sm-6 mb-4">
      <div class="card">
        <a href="/recipes/<%= recipe._id %>">
          <img class="img-fluid card-img-top" src=<%= recipe.image %>>
        </a>
        <div class="card-body">
          <h5 class="card-title"><a class="no-decor-link" href="/recipes/<%= recipe._id %>"><%= recipe.name %></a></h5>
          <a class="btn btn-info btn-sm" href=<%= recipe.article %>>See original article</a>
        </div>
      </div>
    </div>
    <% }); %>
  </div>
</div>

<% include  partials/footer.ejs %>