<% include  ../partials/header.ejs %>
<div class="recipe-title">
  <h1><%= recipe.name %></h1>
  <% if(currentUser && recipe.user.id.equals(currentUser._id)) { %>
  <a class="btn btn-primary" href="/recipes/<%= recipe._id %>/edit"><i class="fas fa-pencil-alt"></i></a>
  <form class="inline-frm" action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
    <button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
  </form>
  <% } %>
</div>
<small class="small-text">Posted by <%= recipe.user.username %>.</small>
<small><a class="btn btn-info" href="<%= recipe.article %>" target="_blank">See original article</a></small>
<hr>
<p><%= recipe.desc %></p>
<hr>

<!-- SHOW VIDEO IF POST WAS DONE VIA YOUTUBE! -->
<% if (recipe.ytId) { %>
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item video" src="https://www.youtube.com/embed/<%= recipe.ytId %>"
    allowfullscreen></iframe>
</div>
<% } %>
<h2 id="comment-section">Comments</h2>
<hr>

<!-- POST COMMENT -->
<form action="/recipes/<%= recipe._id %>" method="POST">
  <div class="form-group">
    <% if(currentUser) { %>
    <div class="post-com-header">
      <img width=50 src="<%= currentUser.profilePic %>" alt="">
      <h5 style="display: inline; margin:0"><%= currentUser.username %></h5>
    </div>
    <% } else { %>
    <div class="post-com-header"><strong><a href="/login">Login</a> to post comment!</strong></div>
    <% } %>
    <textarea class="form-control" required id="comment" name="comment[text]" rows="3"
      placeholder="Type your comment here..."></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Post comment</button>
</form>
<hr>

<% for(let i = recipe.comments.length - 1; i >= 0; i--) { %>
<div class="container">
  <div class="comment-header">
    <img class="rounded-circle" width=50 src="<%= recipe.comments[i].user.profilePic %>">
    <h5 style="display: inline; margin:0" class="card-title"><%= recipe.comments[i].user.username %></h5>
    <% if (recipe.comments[i].isYoutube) { %>
    <i class="fab fa-youtube"></i>
    <% } %>
  </div>
  <p><%= recipe.comments[i].text %></p>
  <hr>
</div>
<% } %>



<% include  ../partials/footer.ejs %>