<% include  ../partials/header.ejs %>
<link rel="stylesheet" type="text/css" href="/css/show.css">

<div class="recipe-title">
  <h1><%= recipe.name %></h1>
  <% if(currentUser && recipe.user.id.equals(currentUser._id)) { %>
  <div>
    <a class="svg-icon-holder" href="/recipes/<%= recipe._id %>/edit"><img class="svg-icon"
        src="/assets/pencil-alt-solid.svg"></a>
  </div>
  <form class="inline-frm" action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
    <button class="svg-icon-holder"><img class="svg-icon" src="/assets/trash-solid.svg"></button>
  </form>
  <% } %>
</div>
<small class="small-text">Posted by <%= recipe.user.username %>.</small>
<small><a class="btn btn-info" href="<%= recipe.article %>" target="_blank">See original article</a></small>
<hr>
<!-- SHOW VIDEO IF POST WAS DONE VIA YOUTUBE! -->
<% if (recipe.ytId) { %>
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item video" src="https://www.youtube.com/embed/<%= recipe.ytId %>"
    allowfullscreen></iframe>
</div>
<% } %>
<p class="par-desc"><%= recipe.desc %></p>
<hr>

<h2 id="comment-section">Comments</h2>
<hr>

<!-- POST COMMENT -->
<form action="/recipes/<%= recipe._id %>" method="POST">
  <div class="form-group">
    <% if(currentUser) { %>
    <div class="post-com-header">
      <img width=50 src="<%= currentUser.profilePic %>" alt="">
      <h5 style="display: inline; margin:0"><%= currentUser.username %></h5>
    </div>
    <% } else { %>
    <div class="post-com-header"><strong><a href="/login">Login</a> to post comment!</strong></div>
    <% } %>
    <textarea class="form-control" required id="comment" name="comment[text]" rows="4"
      placeholder="Type your comment here..."></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Post comment</button>
</form>
<hr>

<!-- Display Comments -->
<% for(let i = recipe.comments.length - 1; i >= 0; i--) { %>
<div class="container">
  <div class="comment-header">
    <img class="rounded-circle" width=50 src="<%= recipe.comments[i].user.profilePic %>">
    <h5 style="display: inline; margin: 0 5px 0 5px" class="card-title"><%= recipe.comments[i].user.username %></h5>
    <% if (recipe.comments[i].isYoutube) { %>
    <div class="svg-icon-holder">
      <img class="svg-icon" src="/assets/youtube-brands.svg">
    </div>
    <% } else if(currentUser && recipe.comments[i].user.id.equals(currentUser._id)) { %>
    <br>
    <div class="svg-icon-holder-comm">
      <a href="/recipes/<%= recipe._id %>/comments/<%= recipe.comments[i]._id %>/edit"><img class="svg-icon-comm"
          src="/assets/pencil-alt-solid.svg"></a>
    </div>
    <form class="inline-frm" action="/recipes/<%= recipe._id %>/comments/<%= recipe.comments[i]._id %>?_method=DELETE"
      method="POST">
      <button class="svg-icon-holder-comm"><img class="svg-icon-comm" src="/assets/trash-solid.svg"></button>
    </form>
    <% } %>
  </div>
  <p><%= recipe.comments[i].text %></p>
  <hr>
</div>
<% } %>



<% include  ../partials/footer.ejs %>